{% extends "base.html" %}

{% block content %}

<!--  Main Container  -->
<div class="w-75 container-fluid d-flex flex-column align-items-center justify-content-center text-center"
     style="background-color: ;">
    <div class="container  text-black" style="background-color: ;">
        <h1 class="mb-3">{{ bb[5]["title"] }}</h1>
        <h5 class="mb-4">{{ bb[5]["summary"] }}</h5>
    </div>
    <!--  Subtitles  -->
    <div class="d-flex flex-row">
        <div class="p-2"><h2>{{ bb[5]["type"] }}</h2></div>
        <div class="p-2"><h2>{{ bb[5]["frequency"] }}</h2></div>
        <div class="p-2"><h2>{{ bb[5]["intensity"] }}</h2></div>
        <div class="p-2"><h2>{{ bb[5]["time"] }}</h2></div>
    </div>


    <!--  Tables Nav Header  -->
    <nav>
        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
            <button class="nav-link active" id="week-1-tab" data-bs-toggle="tab" data-bs-target="#nav-week-1"
                    type="button" role="tab" aria-controls="nav-home" aria-selected="true">Weekly Repeating Program
            </button>

        </div>
    </nav>
    <!--  Nav Content/Tables  -->
    <div class="tab-content" id="nav-tabContent">

        <!--Week 1-->
        <div class="tab-pane fade show active" id="nav-week-1" role="tabpanel" aria-labelledby="week-1-tab">
            <div class="vstack" style="background-color: ;">
                <!--Day 1-->
                <div class="" style="background-color: ;">
                    <table class="table table-bordered table-striped caption-top">
                        <caption>Day 1</caption>
                        <thead>
                        <tr>
                            <th class="col-6" scope="col">Movement</th>
                            <th scope="col">Weight</th>
                            <th scope="col">Reps</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Deadlift</th>
                            <td>Choose Appropriate</td>
                            <td>4x6-12</td>
                        </tr>
                        <tr>
                            <th scope="row">Barbell Rows</th>
                            <td>Choose Appropriate</td>
                            <td>3x10-12</td>

                        </tr>
                        <tr>
                            <th>T-Bar Rows</th>
                            <td>Choose Appropriate</td>
                            <td>3x10-12</td>

                        </tr>
                        <tr>
                            <th>One-Arm Dumbbell Rows</th>
                            <td>Choose Appropriate</td>
                            <td>3x10-12</td>
                        </tr>
                        <tr>
                            <th>Barbell Curls</th>
                            <td>Choose Appropriate</td>
                            <td>4x10-12</td>
                        </tr>
                        <tr>
                            <th>Seated Alternating Dumbbell Curls</th>
                            <td>Choose Appropriate</td>
                            <td>4x10-12</td>
                        </tr>
                        <tr>
                            <th>Preacher Curls</th>
                            <td>Choose Appropriate</td>
                            <td>4x10-12</td>
                        </tr>
                        <tr>
                            <th>Cable Curls</th>
                            <td>Choose Appropriate</td>
                            <td>4x10-12</td>
                        </tr>
                        <tr>
                            <th>Military Press</th>
                            <td>Choose Appropriate</td>
                            <td>4x10-12</td>
                        </tr>
                        <tr>
                            <th>Seated DB Press (SS1)</th>
                            <td>Choose Appropriate</td>
                            <td>4x10-12</td>
                        </tr>
                        <tr>
                            <th>Front DB Press (SS1)</th>
                            <td>Choose Appropriate</td>
                            <td>4x10-12</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--Day 2-->
                <div class="" style="background-color: ;">
                    <table class="table table-bordered table-striped caption-top">
                        <caption>Day 2</caption>
                        <thead>
                        <tr>
                            <th class="col-6" scope="col">Movement</th>
                            <th scope="col">Weight</th>
                            <th scope="col">Reps</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Squat</th>
                            <td>Choose Appropriate</td>
                            <td>6x2-12</td>
                        </tr>
                        <tr>
                            <th scope="row">Leg Press</th>
                            <td>Choose Appropriate</td>
                            <td>4x10-12</td>

                        </tr>
                        <tr>
                            <th>Lunges</th>
                            <td>Choose Appropriate</td>
                            <td>100 Yards</td>

                        </tr>
                        <tr>
                            <th>Stiff Leg Deadlifts</th>
                            <td>Choose Appropriate</td>
                            <td>3x10-12</td>
                        </tr>
                        <tr>
                            <th>Hamstring Curls</th>
                            <td>Choose Appropriate</td>
                            <td>3x10-12</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--Day 3-->
                <div class="" style="background-color: ;">
                    <table class="table table-bordered table-striped caption-top">
                        <caption>Day 3</caption>
                        <thead>
                        <tr>
                            <th class="col-6" scope="col">Movement</th>
                            <th scope="col">Weight</th>
                            <th scope="col">Reps</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Bench Press</th>
                            <td>Choose Appropriate</td>
                            <td>5x10-12</td>
                        </tr>
                        <tr>
                            <th scope="row">Incline Bench Press</th>
                            <td>Choose Appropriate</td>
                            <td>3x10-12</td>

                        </tr>
                        <tr>
                            <th>Dumbbell Press</th>
                            <td>Choose Appropriate</td>
                            <td>3x10-12</td>

                        </tr>
                        <tr>
                            <th>Dumbbell Flyes</th>
                            <td>Choose Appropriate</td>
                            <td>4x10-12</td>
                        </tr>
                        <tr>
                            <th>Seated Cambered Bar Extensions</th>
                            <td>Choose Appropriate</td>
                            <td>3x10-12</td>
                        </tr>
                        <tr>
                            <th>Seated DB Extensions</th>
                            <td>Choose Appropriate</td>
                            <td>4x10-12</td>
                        </tr>
                        <tr>
                            <th>Close Grip Bench Press</th>
                            <td>Choose Appropriate</td>
                            <td>4x10-12</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--Day 4-->
                <div class="" style="background-color: ;">
                    <table class="table table-bordered table-striped caption-top">
                        <caption>Day 4</caption>
                        <thead>
                        <tr>
                            <th class="col-6" scope="col">Movement</th>
                            <th scope="col">Weight</th>
                            <th scope="col">Reps</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Barbell Rows</th>
                            <td>Choose Appropriate</td>
                            <td>5x6-10</td>
                        </tr>
                        <tr>
                            <th scope="row">Low Pulley Rows</th>
                            <td>Choose Appropriate</td>
                            <td>5x15</td>

                        </tr>
                        <tr>
                            <th>Lat Pulldowns</th>
                            <td>Choose Appropriate</td>
                            <td>5x6-10</td>

                        </tr>
                        <tr>
                            <th>Front Lat Pulldowns</th>
                            <td>Choose Appropriate</td>
                            <td>5x10</td>
                        </tr>
                        <tr>
                            <th>Spider Curls</th>
                            <td>Choose Appropriate</td>
                            <td>4x12</td>
                        </tr>
                        <tr>
                            <th>Machine Curls</th>
                            <td>Choose Appropriate</td>
                            <td>4x15</td>
                        </tr>
                        <tr>
                            <th>Standing Cable Curls</th>
                            <td>Choose Appropriate</td>
                            <td>4x10</td>
                        </tr>
                        <tr>
                            <th>Seated Dumbbell Press</th>
                            <td>Choose Appropriate</td>
                            <td>3x15-20</td>
                        </tr>
                        <tr>
                            <th>Front Lateral Dumbbell Raises</th>
                            <td>Choose Appropriate</td>
                            <td>3x15-20</td>
                        </tr>
                        <tr>
                            <th>Machine Raises</th>
                            <td>Choose Appropriate</td>
                            <td>3x15-20</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--Day 5-->
                <div class="" style="background-color: ;">
                    <table class="table table-bordered table-striped caption-top">
                        <caption>Day 5</caption>
                        <thead>
                        <tr>
                            <th class="col-6" scope="col">Movement</th>
                            <th scope="col">Weight</th>
                            <th scope="col">Reps</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Leg Extensions</th>
                            <td>Choose Appropriate</td>
                            <td>4x30</td>
                        </tr>
                        <tr>
                            <th scope="row">Front Squats</th>
                            <td>Choose Appropriate</td>
                            <td>4x12-15</td>

                        </tr>
                        <tr>
                            <th>Hack Squats</th>
                            <td>Choose Appropriate</td>
                            <td>3x10-12</td>

                        </tr>
                        <tr>
                            <th>Standing Leg Curls</th>
                            <td>Choose Appropriate</td>
                            <td>4x10-12</td>
                        </tr>
                        <tr>
                            <th>Lying Leg Curls</th>
                            <td>Choose Appropriate</td>
                            <td>4x10-12</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--Day 6-->
                <div class="" style="background-color: ;">
                    <table class="table table-bordered table-striped caption-top">
                        <caption>Day 6</caption>
                        <thead>
                        <tr>
                            <th class="col-6" scope="col">Movement</th>
                            <th scope="col">Weight</th>
                            <th scope="col">Reps</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Incline Dumbbel Press</th>
                            <td>Choose Appropriate</td>
                            <td>4x10-12</td>
                        </tr>
                        <tr>
                            <th scope="row">Decline Bench Press</th>
                            <td>Choose Appropriate</td>
                            <td>3x10-12</td>

                        </tr>
                        <tr>
                            <th>Incline Dumbbell Flyes</th>
                            <td>Choose Appropriate</td>
                            <td>3x10-12</td>

                        </tr>
                        <tr>
                            <th>Decline Dumbbell Press</th>
                            <td>Choose Appropriate</td>
                            <td>3x10-12</td>
                        </tr>
                        <tr>
                            <th>Skullcrushers (SS1)</th>
                            <td>Choose Appropriate</td>
                            <td>4x10-12</td>
                        </tr>
                        <tr>
                            <th>Machine Pressdown Dips (SS1)</th>
                            <td>Choose Appropriate</td>
                            <td>4x10-12</td>
                        </tr>
                        <tr>
                            <th>Seated Tricep Extensions (SS1)</th>
                            <td>Choose Appropriate</td>
                            <td>4x10-12</td>
                        </tr>
                        <tr>
                            <th>Donkey Raises</th>
                            <td>Choose Appropriate</td>
                            <td>4x10-12</td>
                        </tr>
                        <tr>
                            <th>Seated Calf Raises</th>
                            <td>Choose Appropriate</td>
                            <td>4x10-12</td>
                        </tr>
                        <tr>
                            <th>Crunches</th>
                            <td>Choose Appropriate</td>
                            <td>3xAMRAP</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <div class="container text-start text-black" style="background-color: ;">
        <h5 class="mb-3">{{ tl[0]["notes 1"] }}</h5>
        <h5 class="mb-3">{{ tl[0]["notes 2"] }}</h5>
        <h5 class="mb-3">{{ tl[0]["notes 3"] }}</h5>
        <h5 class="mb-3">{{ bb[5]["experience"] }}</h5>
        <h5 class="mb-4">{{ bb[5]["secondary"] }} </h5>
        <h5 class="mb-4"> Source + Further Reading: <a
                href="https://liftvault.com/programs/bodybuilding/ronnie-coleman-workout-program-spreadsheet/">liftvault.com</a>
        </h5>
    </div>


</div>
</div>
{% endblock%}