{% extends "base.html" %}

{% block content %}

<!--  Main Container  -->
<div class="w-75 container-fluid d-flex flex-column align-items-center justify-content-center text-center"
     style="background-color:green;">
    <div class="container  text-white" style="background-color: grey;">
        <h1 class="mb-3">531 Boring But Big for Bodybuilding</h1>
        <h5 class="mb-4">5/3/1 BBB for bodybuilding is an interpretation of Jim Wendler’s 5/3/1 BBB strength program
            that is focused on bodybuilding aesthetics and hypertrophy instead of raw strength.
            It is run for 7 weeks per cycle with 4 training days per week.
            It was written by /u/GriefandHoz and is not officially endorsed in any way by Jim Wendler. The author
            did cite 5/3/1 Forever as the primary influence on the program, mixed with some of their own personal
            training preferences.</h5>
    </div>
    <!--  Subtitles  -->
    <div class="d-flex flex-row">
        <div class="p-2"><h2>Test</h2></div>
        <div class="p-2"><h2>Test 2</h2></div>
        <div class="p-2"><h2>Test 3</h2></div>
        <div class="p-2"><h2>Test 4</h2></div>
    </div>

    <!--  Tables Nav Header  -->
    <nav>
        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
            <button class="nav-link active" id="week-1-tab" data-bs-toggle="tab" data-bs-target="#nav-week-1"
                    type="button" role="tab" aria-controls="nav-home" aria-selected="true">Week 1
            </button>
            <button class="nav-link" id="week-2-tab" data-bs-toggle="tab" data-bs-target="#nav-week-2"
                    type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Week 2
            </button>
            <button class="nav-link" id="week-3-tab" data-bs-toggle="tab" data-bs-target="#nav-week-3"
                    type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Week 3
            </button>
            <button class="nav-link" id="week-4-tab" data-bs-toggle="tab" data-bs-target="#nav-week-4"
                    type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Week 4
            </button>
            <button class="nav-link" id="week-5-tab" data-bs-toggle="tab" data-bs-target="#nav-week-5"
                    type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Week 5
            </button>
            <button class="nav-link" id="week-6-tab" data-bs-toggle="tab" data-bs-target="#nav-week-6"
                    type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Week 6
            </button>
            <button class="nav-link" id="week-7-tab" data-bs-toggle="tab" data-bs-target="#nav-week-7"
                    type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Week 7
            </button>
        </div>
    </nav>
    <!--  Nav Content/Tables  -->
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-week-1" role="tabpanel" aria-labelledby="week-1-tab">The test of week 1 tab</div>
        <div class="tab-pane fade" id="nav-week-2" role="tabpanel" aria-labelledby="">Week 2 Jeff Test</div>
        <div class="tab-pane fade" id="nav-week-3" role="tabpanel" aria-labelledby="">Jeff here, just testing week 3</div>
        <div class="tab-pane fade" id="nav-week-4" role="tabpanel" aria-labelledby="">
            <div class="d-flex row" style="background-color: white;">
        <div class="col-lg-3 " style="background-color:yellow;">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Movement</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Reps</th>
                    <th scope="col"></th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Squat</th>
                    <td>75</td>
                    <td>5</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>95</td>
                    <td>5</td>

                </tr>
                <tr>
                    <td></td>
                    <td>95</td>
                    <td>5</td>

                </tr>
                <tr>
                    <td></td>
                    <td>95</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td></td>
                    <td>95</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td></td>
                    <td>95</td>
                    <td>5</td>
                </tr>
                <tr>
                    <th scope="row">Hack Squat</th>
                    <td>50</td>
                    <td>5x10</td>
                </tr>
                <tr>
                    <th scope="row">Barbell Curl</th>
                    <td>50</td>
                    <td>5x10</td>
                </tr>
                <tr>
                    <th scope="row">Lateral raise</th>
                    <td>50</td>
                    <td>5x10</td>
                </tr>
                <tr>
                    <th scope="row">Incline Curl</th>
                    <td>50</td>
                    <td>5x10</td>
                </tr>
                <tr>
                    <th scope="row">Cable Rope Pushdown</th>
                    <td>50</td>
                    <td>5x10</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-3 " style="background-color:blue;">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Movement</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Reps</th>
                    <th scope="col"></th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Squat</th>
                    <td>75</td>
                    <td>5</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>95</td>
                    <td>5</td>

                </tr>
                <tr>
                    <td></td>
                    <td>95</td>
                    <td>5</td>

                </tr>
                <tr>
                    <td></td>
                    <td>95</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td></td>
                    <td>95</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td></td>
                    <td>95</td>
                    <td>5</td>
                </tr>
                <tr>
                    <th scope="row">Hack Squat</th>
                    <td>50</td>
                    <td>5x10</td>
                </tr>
                <tr>
                    <th scope="row">Barbell Curl</th>
                    <td>50</td>
                    <td>5x10</td>
                </tr>
                <tr>
                    <th scope="row">Lateral raise</th>
                    <td>50</td>
                    <td>5x10</td>
                </tr>
                <tr>
                    <th scope="row">Incline Curl</th>
                    <td>50</td>
                    <td>5x10</td>
                </tr>
                <tr>
                    <th scope="row">Cable Rope Pushdown</th>
                    <td>50</td>
                    <td>5x10</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-3 " style="background-color:yellow;">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Movement</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Reps</th>
                    <th scope="col"></th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Squat</th>
                    <td>75</td>
                    <td>5</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>95</td>
                    <td>5</td>

                </tr>
                <tr>
                    <td></td>
                    <td>95</td>
                    <td>5</td>

                </tr>
                <tr>
                    <td></td>
                    <td>95</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td></td>
                    <td>95</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td></td>
                    <td>95</td>
                    <td>5</td>
                </tr>
                <tr>
                    <th scope="row">Hack Squat</th>
                    <td>50</td>
                    <td>5x10</td>
                </tr>
                <tr>
                    <th scope="row">Barbell Curl</th>
                    <td>50</td>
                    <td>5x10</td>
                </tr>
                <tr>
                    <th scope="row">Lateral raise</th>
                    <td>50</td>
                    <td>5x10</td>
                </tr>
                <tr>
                    <th scope="row">Incline Curl</th>
                    <td>50</td>
                    <td>5x10</td>
                </tr>
                <tr>
                    <th scope="row">Cable Rope Pushdown</th>
                    <td>50</td>
                    <td>5x10</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-3 " style="background-color:blue;">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Movement</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Reps</th>
                    <th scope="col"></th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Squat</th>
                    <td>75</td>
                    <td>5</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>95</td>
                    <td>5</td>

                </tr>
                <tr>
                    <td></td>
                    <td>95</td>
                    <td>5</td>

                </tr>
                <tr>
                    <td></td>
                    <td>95</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td></td>
                    <td>95</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td></td>
                    <td>95</td>
                    <td>5</td>
                </tr>
                <tr>
                    <th scope="row">Hack Squat</th>
                    <td>50</td>
                    <td>5x10</td>
                </tr>
                <tr>
                    <th scope="row">Barbell Curl</th>
                    <td>50</td>
                    <td>5x10</td>
                </tr>
                <tr>
                    <th scope="row">Lateral raise</th>
                    <td>50</td>
                    <td>5x10</td>
                </tr>
                <tr>
                    <th scope="row">Incline Curl</th>
                    <td>50</td>
                    <td>5x10</td>
                </tr>
                <tr>
                    <th scope="row">Cable Rope Pushdown</th>
                    <td>50</td>
                    <td>5x10</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div></div>
        <div class="tab-pane fade" id="nav-week-5" role="tabpanel" aria-labelledby="">Week 5 Jeff Test</div>
        <div class="tab-pane fade" id="nav-week-6" role="tabpanel" aria-labelledby="">Week 6 Jeff Test</div>
        <div class="tab-pane fade" id="nav-week-7" role="tabpanel" aria-labelledby="">Week 7 Jeff Test</div>
    </div>




</div>
</div>
{% endblock%}